{{ if and (eq .chezmoi.os "linux") (.packages.install) -}}
#!/usr/bin/fish

{{- $red := "\033[1;31m" }}
{{ $nc := "\033[0m" -}}

# packages removal hash: {{ include ".chezmoidata/packages.remove.yaml" | sha256sum }} 
# copr-repos hash: {{ include ".chezmoidata/repos.yaml" | sha256sum }}
# packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{- /* Remove packages that need removal */}}
{{- range .packages_remove.snap }}
sudo snap remove {{ . | quote }} --no-wait
{{ end -}}

{{- /* Download and enable repositories */}}
{{- /* COPR repos */}}
{{- range .repos.copr }}
sudo dnf copr enable {{ . | quote }} -y
{{ end -}}

{{- /* DNF repos */}}
{{- range .repos.dnf }}
sudo rpm -v --import {{ .gpg }}

{{ if not (eq (get . "repo") "") }}
sudo dnf config-manager --add-repo {{ .repo }}
{{ end }}
{{ if not (eq (get . "repo_config") "") }}
echo "Adding repo for {{ .name }}"
echo -e {{ .repo_config | quote }} | sudo tee /etc/yum.repos.d/{{ .filename }} > /dev/null
{{ end }}

{{ end -}}

{{- /* Install packages based on the package pool  */}}
echo -e "{{ $red }}Installing base packages pool {{- $nc }}"
sudo dnf install {{ .pkgs.base.dnf | join " " }}

{{ if eq .packages.pool "light" }}
echo -e "{{ $red }}Installing light packages pool {{- $nc }}"
sudo dnf install {{ .pkgs.light.dnf | join " " }}
{{ else if eq .packages.pool "full" }}
echo -e "{{ $red }}Installing full packages pool {{- $nc }}"
sudo dnf install {{ .pkgs.light.dnf | join " " }}
sudo dnf install {{ .pkgs.full.dnf | join " " }}
{{ end }}
{{- end -}}
