{{- $pkgsPool := "none" -}}

{{- $configs := list "light" "full" -}}

{{- $name := promptString "Your username" "Sutaai" -}}
{{- $email := promptString "Your E-mail address" "sutaai@proton.me" -}}
{{- $installPkgs := promptBool "Do you wish to sync and install provided packages" -}}

{{- if $installPkgs }}
{{- $pkgsPool = promptChoice "Which packages pool would you like to pick?" $configs }}
{{- end -}}

encryption: gpg
gpg:
    recipient: {{ $email }}

{{ if lookPath "code" -}}
{{ writeToStdout "Visual Studio Code will be used for merge & diff.\n" -}}
merge:
    command: "bash"
    args:
        - "-c"
        - "cp {{ `{{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}` }}"

diff:
    command: "code"
    args:
        - "--wait"
        - "--diff"
        - "{{ `{{ .Destination }}` }}"
        - "{{ `{{ .Target }}` }}"
{{- end }}

data:
    packages: 
        install: {{ $installPkgs }}
        {{- if $installPkgs }}
        pool: {{ $pkgsPool }}
        {{- end }}
    user:
        name: {{ $name }}
        email: {{ $email }}
{{- if lookPath "subl" }}
    editor: subl --wait
    {{- writeToStdout "Sublime Text will be the default text editor.\n" -}}
{{- else if lookPath "code" }}
    editor: code --wait
    {{- writeToStdout "Visual Studio Code will be the default text editor.\n" -}}
{{- else if lookPath "micro" }}
    editor: micro
    {{- writeToStdout "micro will be the default text editor.\n" -}}
{{- else if lookPath "vim" }}
    {{- /* Praise and prey but it's controlled fine chaos. */ -}}
    editor: vim
    {{- writeToStdout "vim will be the default text editor.\n" -}}
{{- else }}
    {{- /* Praise and prey. */ -}}
    editor: vi
    {{- writeToStdout "vi will be the default text editor.\n" -}}
{{ end }}
